body {
    background-size: cover;
    background-image: url(img/anh/12.jpg);
}

.login {
    width: 360px;
    padding: 4% 0 0;
    margin: auto;
}

.form-login {
    position: relative;
    z-index: 1;
    background: rgba(230, 230, 255, 0.1);
    max-width: 360px;
    margin: 30% auto 100px;
    padding: 20px;
    text-align: center;
}

.textInput {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
    box-sizing: border-box;
}

.file {
    font-family: "Roboto", sans-serif;
    outline: 1;
    margin: 0 0 15px;
    width: 100%;
}

.form-login button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4ACF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.form-login button:hover,
.form-login button:active {
    background: #43A047;
}

.form-login .message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form-login .message a {
    color: #4ACF50;
    text-decoration: none;
}